@page "/patient/delete/{id:int}"

@inject IPatientService PatientService
@inject NavigationManager NavigationManager

<h3>Paciente</h3>

@Message

@if (patient == null)
{
    <p>Cargando ....</p>
}
else
{

    <EditForm Model="patient" OnValidSubmit="Delete">
        <div class="card">
            <h5 class="card-header"> Datos del paciente </h5>
            <div class="card-body">
                <div class="container">

                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <label for="">Nombre</label>
                            <InputText class="form-control" readonly @bind-Value="@patient.FirstName"></InputText>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="">Apellidos</label>
                            <InputText class="form-control" readonly @bind-Value="@patient.LastName"></InputText>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="">DNI/NIE/TIE</label>
                            <InputText class="form-control" readonly @bind-Value="@patient.DNI"></InputText>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="">Fecha Nacimiento</label>
                            <InputDate class="form-control" readonly @bind-Value="@patient.BirthDate"></InputDate>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for=""> Teléfono</label>
                            <InputText class="form-control" readonly @bind-Value="@patient.Phone"></InputText>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="">Dirección</label>
                            <InputTextArea class="form-control" readonly @bind-Value="@patient.Address"></InputTextArea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="submit" class="btn btn-danger" value="Eliminar" />
                            <input type="button" class="btn btn-secondary" value="Cancelar" @onclick="NavigateHome" />
                        </div>
                        <div class="col-md-4 mb-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>

}

@code {
    public Patient patient;
    public string Message;

    [Parameter]
    public int id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (id == 0)
            patient = new Patient();
        else
            patient = await PatientService.GetDetails(id);
    }

    protected async Task Delete()
    {
        await PatientService.DeletePatient(id);
        NavigateHome();
    }

    private void NavigateHome()
    {
        NavigationManager.NavigateTo("/patient/list");
    }

}
