@page "/patient/list"

@attribute [Authorize]
@inject IPatientService PatientService
@inject IDialogService DialogService

<h3>Listado de Pacientes</h3>

<MudButton OnClick="AddPatient"> Añadir paciente</MudButton>

@Message

@if (patients != null && patients.Any())
{
    <MudTable Items="patients" Hover="true" Breakpoint="Breakpoint.Sm">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Listado de Pacientes</MudText>
        </ToolBarContent>
        <HeaderContent>            
            <MudTh>Nombre</MudTh>
            <MudTh>DNI</MudTh>
            <MudTh>Fecha Nacimiento</MudTh>
            <MudTh>Telefono</MudTh>
            <MudTh>Dirección</MudTh>
            <MudTh ></MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate Context="PatientContext">
            <MudTd DataLabel="Name">@PatientContext.FullName</MudTd>
            <MudTd DataLabel="DNI">@PatientContext.DNI</MudTd>
            <MudTd DataLabel="BirthDate">@PatientContext.BirthDate</MudTd>
            <MudTd DataLabel="Phone">@PatientContext.Phone</MudTd>
            <MudTd DataLabel="Address">@PatientContext.Address</MudTd>
            <MudTd></MudTd>
            <MudTd></MudTd>
        </RowTemplate>
    </MudTable>

    @*<table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Fecha Nacimiento</th>
                <th>Telefono</th>
                <th>Dirección</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in patients)
            {
                <tr>
                    <td>@patient.FullName</td>
                    <td>@patient.DNI</td>
                    <td>@patient.BirthDate</td>
                    <td>@patient.Phone</td>
                    <td>@patient.Address</td>
                    <td><a href="@($"patient/edit/{patient.Id}")">Editar</a></td>
                    <td><a href="@($"patient/delete/{patient.Id}")">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>*@
}
else
{
    <p>Cargando ....</p>
}

@code {
    //private Patient patient;
    public Patient patient = new Patient();
    public IEnumerable<Patient> patients;
    public string Message { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            patients = await PatientService.GetAll();

        }
        catch (Exception e)
        {

            Message = "Error... " + e.Message;
        }
    }

    private async Task AddPatient()
    {
        var dialog = DialogService.Show<PatientDetails>("Datos del Paciente");

        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            if (result.Data != null)
                patient = (Patient) result.Data;
        }
    }



}