@page "/shift/create"
@page "/shift/edit/{id:int}"

@attribute [Authorize]
@inject IShiftService ShiftService
@inject IPatientService PacienteService
@inject IDoctorService DoctorService
@inject NavigationManager NavigationManager

<h3>Turno</h3>

@Message

@if (shift == null)
{
    <p>Cargando ....</p>
}
else
{
    <EditForm Model="shift" OnValidSubmit="Save">
        <div class="card">
            <h5 class="card-header"> Datos del Turno </h5>
            <div class="card-body">
                <div class="container">

                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <label for="">Turno</label>
                            <InputSelect class="form-control" @bind-Value="shift.PatientId">
                                @foreach (var patient in patients)
                                    {
                                    <option value="@patient.Id">@patient.FullName</option>
                                    }
                            </InputSelect>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="">Doctor</label>
                            <InputSelect class="form-control " @bind-Value="shift.DoctorId">
                                @foreach (var doctor in doctors)
                                    {
                                    <option value="@doctor.Id">@doctor.FullName</option>
                                    }
                            </InputSelect>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <label for="">Fecha Turno</label>
                            <InputDate class="form-control" @bind-Value="@shift.ShiftDate"></InputDate>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-3">
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="submit" class="btn btn-success" value="Guargar" />
                            <input type="button" class="btn btn-secondary" value="Cancelar" @onclick="NavigateHome" />
                        </div>
                        <div class="col-md-4 mb-3">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </EditForm>

}

@code {
    public Shift shift;
    public IEnumerable<Patient> patients;
    public IEnumerable<Doctor> doctors;
    public string Message;

    [Parameter]
    public int id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            patients = await PacienteService.GetAll();
            doctors = await DoctorService.GetAll();

            if (id == 0)
                shift = new Shift()
                {
                    PatientId = 1,
                    DoctorId = 1,
                    ShiftDate = DateTime.Now
                };
            else
                shift = await ShiftService.GetDetails(id);
        }
        catch (Exception)
        {
            throw;
        }
    }

    protected async Task Save()
    {
        await ShiftService.SaveShift(shift);
        NavigateHome();
    }

    private void NavigateHome()
    {
        NavigationManager.NavigateTo("/shift/list");
    }
}
